
a:link, a:visited {
  background-color:brown;
  color:white;
  padding:15px 30px;
  border:2px solid black;
  text-align:center;
  text-decoration:none;
  font-size:200%;
  font-family:Courier;
  display:inline-block;
}
a:hover, a:active {
  background-color:#A9580D;
}

pre {
  text-align:center;
}

p {
  font-family:Verdana;
  font-size:175%;
  text-align:center;
}


q {
  font-family:Courier;
  font-size:225%;
  text-align:center;
  padding:10px 20px;
  background-color:brown;
  border:2px solid black;
  color:white;
  display:inline-block;
}